<div class="box">
  <div class="box__header">
    <div class="box__header-left">
      <div class="box__title box__title_color_dark">Billing Info</div>
    </div>
    <a href="/profiles/employer/ER-T1-SC2-A1-ER200/billing/settings" class="link link_weight_bold">
      Manage Accounts
    </a>
    <button type="button" class="box__action box__action_type_refresh"></button>
  </div>

  <div class="billing-info">
    <div class="bank-detail-card">
      <div class="bank-detail-card__header">
        <div class="bank-detail-card__header-top">
          <div class="bank-detail-card__name bank-detail-card__name_flex_1">Account 1</div>
        </div>
        <div class="bank-detail-card__type">Checking</div>
      </div>
      <div class="grid__group grid__group_is-flex">
        <div class="grid__cell grid__cell_is-flex grid__cell_border_right">
          <div class="grid__cell-content ">
            <div class="grid__label">
              <div class="label label_color_grey">routing number</div>
            </div>
            <div class="grid__value">
              *****0024
            </div>
          </div>
        </div>
        <div class="grid__cell grid__cell_is-flex">
          <div class="grid__cell-content ">
            <div class="grid__label">
              <div class="label label_color_grey">account number</div>
            </div>
            <div class="grid__value">
              *****1111
            </div>
          </div>
        </div>
      </div>
      <div class="bank-detail-card__labels-container">
        <div class="bank-detail-card__labels">
          <div class="bank-detail-card__label bank-detail-card__label_type_default">default</div>
          <div class="bank-detail-card__label bank-detail-card__label_type_auto-pay">auto pay</div>
        </div>
      </div>
    </div>
  </div>
</div>
